@import '../abstracts/variables.scss';

.custom__navbar {
  color: $font-navbar-colour;
  background-color: $main-colour;

  display: flex;
  align-items: center;

  .navbar-brand {
    img {
      width: 150px;
    }
  }
  margin-bottom: 2rem;
}
