@import '../abstracts/_variables.scss';

.custom__order-detail-card {
  display: flex;
  align-items: center;
  transition: $transition;

  .custom__order-detail-card__icon {
    margin: 0 2rem 0 1rem;
  }

  .custom__order-detail-card__price {
    margin-left: auto;
  }

  .custom__order-detail-card__details {
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
    cursor: pointer;
  }
}
