$font-colour: #fff;

$background-colour: #f7f7f7;

$main-colour: #ff8000;
$accent-colour: #0953bd;
$accent-colour-border: darken($accent-colour, 20%);

$footer-colour: #0a3847;

// Bulma overrides
$primary: $main-colour;
