// https://sass-guidelin.es/
// http://getbem.com/introduction/

@import './abstracts/_variables.scss';
@import './base/_typography.scss';

@import './components/_navbar.scss';
@import './components/_order-history.scss';
@import './components/_pending-order-status.scss';
@import './components/_order-detail-card.scss';

@import './views/_order-overview.scss';

body,
html {
  background-color: $background-colour;
  padding: 0;
  margin: 0;
}
